/*
	tswnavbar.css	2.0.0
	Please use the Navigation Menu Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 130px ;
	max-width: 100% ;
	text-align: center ;
	margin: 0 auto ;
}
#tswcssbuttons ul {
	margin: 10px 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 0 10px ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: Georgia, serif ;
}
#tswcssbuttons li a {
	color: #ffffff ;
	border: 3px solid rgb(255, 255, 255) ;
	width: 70px ;
	height: 20px ;
	display: inline-block ;
	padding: 10px ;

	background-color: rgb(255, 162, 162);
    color: #000000;
    cursor: pointer;
	text-decoration: none ;
}
#tswcssbuttons li a:hover {
	background: #df3e3e;
    border-color: hsl(var(--hue, 0), 100%, 50%);
	border-style: ridge;
	color: #ffffff;
}
