:root {
    --widget-width: 150px;
    --widget-height: 150px;
}

body {
    --gompei-count: 1;
    background-color: hsl(9, 43%, 46%);
    color: white;
}

#store-container {
    border: 5px solid white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#widget-container {
    border: 5px solid white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.store {
    background-color: rgb(20, 20, 20);
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: relative;
}

.store p {
    margin: 2px;
    position: relative;
}

.widget {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--widget-width);
    height: var(--widget-height);
    margin: 5px;

    cursor: pointer;

    overflow: hidden;
    color: white;
    position: relative;
}

.store[broke] {
    filter: brightness(0.25);
}

.widget[harvesting] {
    filter: brightness(.5)
}

.widget[auto="true"] {
    background-color: rgb(50, 50, 50);
    border: 3px solid rgb(150, 150, 150);
}

.widget:not([auto="true"]) {
    background-color: rgb(50, 50, 50);
    border: 3px solid rgb(150, 150, 150);
}

.widget img {
    max-width: 100%;
    max-height: 100%;
}

.widget[harvesting] .overlay-slide {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    animation-name: uncover;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.widget:not([harvesting]) .overlay-slide {
    display: none;
}

/* Floating point indicator */
.point {
    position: absolute;
    transform-origin: center;
    color: aqua;
    animation-name: point-float;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    left: 50%;
    top: 50%;
}

.center {
    text-align: center;
}


@keyframes point-float {
    100% {
        opacity: 0%;
        transform: translateY(-50px);
    }
}

@keyframes uncover {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

button {
    padding: 4px;
    font-family: Georgia, serif;
    font-size: 1em;
    background-color: #333;
    color: #eee;
    border: 1px solid #888;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #444;
    border-color: #aaa;
}

#screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(calc(var(--bg-color, 0) * 15), 100%, 50%, 0.05);
    pointer-events: none;
}